body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #FFFFFF;
}

.profile-name {
    margin-top: 20px;
    font-weight: 700; /* Linha incluída */
}
.links-list {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.links-list li {
    margin-bottom: 15px;
}

.links-list a {
    display: block;
    background-color: #333333;
    color: #FFFFFF;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.links-list a:hover {
    transform: scale(1.05);
    background-color: #444444;
}

.profile-description {
    margin-top: 5px;
    margin-bottom: 30px;
    font-style: italic;
    color: #c0c0c0;
    font-weight: 400; /* Peso 400 = Regular */
}

.footer {
    position: absolute;
    bottom: 20px;
    color: #777777;
    font-size: 14px;
}

/* =================================== */
/* DESIGN RESPONSIVO          */
/* =================================== */

@media (max-width: 600px) {
  
  .profile-picture {
    width: 120px;
    height: 120px;
  }

  .profile-name {
    font-size: 24px; /* Reduz o tamanho da fonte do seu nome */
  }

  .links-list a {
    padding: 12px; /* Diminui a altura dos botões */
  }

  .profile-description {
    font-size: 14px; /* Reduz o tamanho da fonte da descrição */
  }

}